.App {
  text-align: center;
  font-size: 1.3em;
  font-weight: 300;
}

#profile__img {
  width: 30vw;
  height: auto;
  border-radius: 50%;
}
/* #slack{
  display: hidden;
} */
.App {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
}
#profile_section {
  margin-top: 50px;
  padding: 30px auto;
}
main{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 30px;

}
main > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  text-decoration: none;
  color: black;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  background: #EAECF0;
  width: 70vw;
  height: 40px;
}
#end_logo > a{
  padding: 60px 50px 40px 40px;

}
footer{
  text-decoration: none;
  padding: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
}


main > a:hover{
  border: 3px solid #a5a6a8;
}
main > a:{
  border: 3px solid #a5a6a8;
}



@media only screen and (max-width: 400px) {
  .App {
      font-size: 0.9rem;
  }
  footer{
    display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
}

@media only screen and (max-width: 900px) {
  .App {
      font-size: 1rem;
  }
  footer{
    display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
}